extends layout

block customStyles
	link(rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen")
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
	link(rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen")
	link(rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen")

block content
	section.page-header
		h1.project-name Trombonivus
		h2.project-tagline An Arizona holiday trombone choir concert for the rest of us!
		h3 December 12th, 2015 ~ 6:30 PM ~ Tempe Beach Park

	section.main-content
		h3
			a#trombonivus-for-spectators.anchor(href="#trombonivus-for-spectators" aria-hidden="true")
				span.octicon.octicon-link
			| Trombonivus for Spectators

		p Trombonivus 2015 will be on December 12th near Tempe Beach Park (more exact location details TBD) at 6:30 PM.

		h3
			a#trombonivus-for-musicians.anchor(href="#trombonivus-for-musicians" aria-hidden="true")
				span.octicon.octicon-link
			| Trombonivus for Musicians

		p Hey hosers! Come help us blanket the holiday season with the sonorous sounds of a gigantic trombone choir. Here's the lowdown:

		h4
			a#schedule.anchor(href="#schedule" aria-hidden="true")
				span.octicon.octicon-link
			| Schedule

		ul
			li
				strong Rehearsal
				|  - 12 PM, December 12th, location TBD (but most likely right in the vicinity of Tempe/ASU)
			li
				strong Warm-up
				|  - 6:00 PM, December 12th, same location as the performance
			li
				strong Performance
				|  - 6:30 PM, December 12th, location near Tempe Beach Park (more exact location details TBD)

		h4
			a#what-to-bring.anchor(href="#what-to-bring" aria-hidden="true")
				span.octicon.octicon-link
			| What to Bring

		ul
			li A trombone. Clearly.
			li A music stand or lyre.
			li $10

		h4
			a#what-you-get.anchor(href="#what-you-get" aria-hidden="true")
				span.octicon.octicon-link
			| What you Get

		p In return for the $10 registration fee, I'll be providing sheet music, clothespins (in the case of a windy evening), and a super awesome, one-of-a-kind commemorative Trombonivus button.

		h3
			a#trombonivus-for-supporters.anchor(href="#trombonivus-for-supporters" aria-hidden="true")
				span.octicon.octicon-link
			| Trombonivus for Supporters

		p Interested in helping? Great! Here are some ways to contribute:

		ul
			li
				strong Donate
				|  - Help cover our administrative costs!
			li
				strong Volunteer
				|  - On the day of, you can help us ensure the music lovers find us, and music players have everything they need to make the music!
			li
				strong Venue
				|  - We're still solidifying performance venue details. If you are interested in hosting the Trombonivus performance, we would love to hear from you!

		h3
			a#contact.anchor(href="#contact" aria-hidden="true")
				span.octicon.octicon-link
			| Contact

		p
			| Please direct all inquiries to Chief Administrative Trombonivust Natalie Pendragon. She can be reached at 415-813-2628 or 
			a(href="mailto:natalie.pendragon@gmail.com") natalie.pendragon@gmail.com
			| .

		footer.site-footer
			span.site-footer-owner
				a(href="https://github.com/natpen/trombonivus") Trombonivus
				|  is open-source and maintained by 
				a(href="https://github.com/natpen") natpen
				| .